:root {
  font-size: 16px;
  font-family: "Nunito Sans", sans-serif;
  --left_pading: 3.75rem;
  --right_pading: 3.75rem;
  --very_light_gray_color: #fafafa;
  --very_dark_gray_color: #858585;
  --very_dark_blue_color: #111517;
  --white_color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(255, 255, 255);
  display: flex;
  margin: 0;
  padding: 0;
  height: 4.4rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

h1 {
  padding-left: var(--left_pading);
  font-family: "Nunito Sans", sans-serif;
}

.dark-mode-button {
  margin-right: var(--right_pading);
  width: 7rem;
  height: 4.4rem;
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: #ffffff;
  font-weight: 600;
  font-size: medium;
  font-family: "Nunito Sans", sans-serif;
  place-items: center;
  display: flex;
}

body {
  margin: 0;
  font: sans-serif;
  background-color: #fafafa;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

.all {
  margin-left: var(--left_pading);
  margin-right: var(--right_pading);
}

#select-reagion {
  width: 10rem;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 16px solid transparent;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-position: right 1rem center;
  text-align: left;
  border: none;
  background-position: right 1rem center;
  background-color: var(--white_color);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  text-align: left;
  border: var(--white_color);
}

#search-input::placeholder {
  color: var(--very_dark_gray_color);
  opacity: 0.7;
}
.search-wrapper {
  position: relative;
  width: 30rem;
  height: 2.5rem;
  background-color: var(--white_color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--very_dark_gray_color);
  border: var(--white_color);
}
#search-input {
  width: 30rem;
  height: 2.5rem;
  border: none;
  border-radius: 7px;
  padding-left: 2rem;
}
#search-input:focus-visible {
  outline: none;
}
.container > div {
  background-color: var(--white_color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 320px 320px;
  grid-gap: 3.75rem;
  gap: 3.75rem;
  align-items: center;
  height: 48rem;
}

.flag img {
  width: 100%;
  height: 9.5rem;
  object-fit: cover;
  display: block;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.info {
  margin-left: 1.25rem;
  margin-top: 1.7rem;
  margin-bottom: 2.3rem;
}
.container .info .country-name {
  padding-bottom: 12px;
  font-size: 17px;
  font-weight: 800;
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  header {
    font-size: 9px;
  }

  h1 {
    padding-left: 1rem;
  }
  .dark-mode-button {
    margin-right: 1rem;
    width: 7rem;
    height: 4.4rem;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    box-shadow: #ffffff;
    display: flex;
    font-size: 14px;
  }
  .all {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
  }
  .search-container {
    flex-direction: column;
    align-items: left;
    margin-top: 0.5rem;
    height: 9rem;
    align-items: start;
  }
  .search-wrapper {
    position: relative;
    margin: 1rem 0;
    width: 22rem;
    background-color: #ffffff;
  }
  #search-input {
    width: 22rem;
  }
  #select-reagion {
    width: 10rem;
    height: 2.5rem;
    padding-left: 0.7rem;
    margin: 1rem 0;
    text-align: left;
    border: var(--white_color);
    background-color: var(--white_color);
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 320px 320px;
    grid-gap: 3rem;
    gap: 3rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
